body{
    background-color: #19a1ad;
    display: flex;
    margin: 0;
}
img
{
    margin: auto;
}
.card
{
    margin: auto;

}
.header
{

}
.corps
{
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: white;
}
.name
{
    margin: 0;
}
.number
{
    display: flex;
}